:root {
  --color-black: #000;
  --color-white: #fff;
  --color-border-primary: #ddd;
  --color-border-secondary: #eee;
  --color-heading-text: #333;
  --color-body-text: #666;
}

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-body-text);
}

.container {
  width: 100%;
  height: 100vh;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}

.header {
  margin-top: 20vh;
}

.header a {
  text-decoration-color: transparent;
  color: var(--color-heading-text);
  transition: color 320ms ease;
}

.header a:hover {
  color: var(--color-black);
  text-decoration-color: var(--color-black);
}

.header h1 {
  color: currentColor;
  margin: 0;
}

.header svg {
  width: 3.2em;
  height: 3.2em;
  fill: currentColor;
}

.header p {
  font-size: 20px;
  max-width: 500px;
  padding: 0 1.4em;
}

.control {
  margin-top: 2rem;
}

.status {
  margin-top: 24px;
  font-weight: 500;
}

.status span {
  font-weight: 700;
}

.btn {
  padding: 1em 2em;
  border: 1px solid transparent;
  border-radius: 3px;

  font-weight: 700;

  transition: all 320ms ease;
}

.btn:not(:last-of-type) {
  margin-right: 1em;
}

.is-primary {
  border-color: var(--color-black);
  background-color: var(--color-black);
  color: var(--color-white);
}

.is-primary:hover {
  border-color: var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
}

.is-secondary {
  border-color: var(--color-border-primary);
  border-color: var(--color-border-primary);
  background-color: var(--color-white);
  color: var(--color-body-text);
}

.is-secondary:hover {
  border-color: var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn.is-active,
.btn.is-active:hover {
  color: var(--color-body-text);
  border-color: var(--color-border-primary);
  border-color: var(--color-border-primary);
  background-color: var(--color-border-secondary);
}

@media screen and (max-width: 425px) {
  .container {
    height: 100%;
  }

  .header {
    margin-top: 16%;
  }

  .header p {
    font-size: 18px;
  }

  .btn {
    padding: 0.8em 1.2em;
  }
}
